<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teemaker.tmake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.teemaker.tmake.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.teemaker.tmake.TemplateActivity"
            android:label="@string/templateactivity"
            android:parentActivityName="com.teemaker.tmake.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tmake.MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name="com.teemaker.tmake.MainActivity"
            android:label="@string/mainactivity" 
            android:parentActivityName="com.teemaker.tmake.TemplateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teemaker.tmake.TemplateActivity" >
            </meta-data>
        </activity>
    </application>
</manifest>